body{
    background: linear-gradient(rgba(0, 0, 0, 0.5) ,rgba(0, 0, 50, 0.5)) ,url(image1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.button,.button2 {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 5px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
}

.form-control{
    background-color: transparent !important;
}

a{
    color: #fff !important;
    margin-top: -200px !important;
}

form.form-1{
position: relative;
left:1600px;
top: -300px;
padding: 30px;
}